version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      # Montar o .env para que o backend possa ler as credenciais do Supabase
      - ./backend/.env:/usr/src/app/.env
    environment:
      NODE_ENV: production
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
